# pnpm 阿里云镜像配置
touch ~/.npmrc
registry=https://registry.npmmirror.com/
npm_config_registry=https://registry.npmmirror.com/
# 可选：设置其他相关镜像
alinode_mirror=https://npmmirror.com/mirrors/node
alinode_mirror_ui=https://npmmirror.com/mirrors/node/latest/SHASUMS256.txt
alinode_mirror_ui_install_script=https://npmmirror.com/mirrors/node/install.sh
# electron镜像
electron_mirror=https://npmmirror.com/mirrors/electron/
# node-sass镜像
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
# sharp镜像
sharp_binary_host=https://npmmirror.com/mirrors/sharp
# sqlite3镜像
sqlite3_binary_host=https://npmmirror.com/mirrors/sqlite3/