@tailwind base;
@tailwind components;
@tailwind utilities;

p {
    color: var(--color-text-1);
}


/* 字体 */
@font-face {
    font-family: "Inter";
    src: url("./assets/font/HarmonyOS_Sans_Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inter-Bold";
    src: url("./assets/font/HarmonyOS_Sans_Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'emoji';
    src: url('./assets/font/seguiemj.woff2') format('woff2');
}


/*  美化滚动条 */
::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

::-webkit-scrollbar-track {
    width: 6px;
    background: rgba(#101F1C, 0.1);
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(144, 147, 153, .5);
    background-clip: padding-box;
    min-height: 28px;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    transition: background-color .3s;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(144, 147, 153, .3);
}